replicaCount: 2

image:
  repository: genos1020/genos-devops-app
  tag: latest
  pullPolicy: Always

imagePullSecrets:
  - name: dockerhub-secret

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  port: 80

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

ingress:
  enabled: true
  className: ""
  annotations: {}
  hosts:
    - host: devops.localhost
      paths:
        - path: /
          pathType: Prefix
  tls: []
