replicaCount: 2

image:
  repository: 339713143521.dkr.ecr.ap-northeast-1.amazonaws.com/devops-interview-app
  tag: latest
  pullPolicy: Always

imagePullSecrets:
  - name: ecr-secret

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "300m"
    memory: "256Mi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80

service:
  type: ClusterIP
  port: 80
  extraPorts:
    - name: metrics
      port: 9113
      targetPort: 9113
      protocol: TCP

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

ingress:
  enabled: true
  className: ""
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
  hosts:
    - host: ""
      paths:
        - path: /
          pathType: Prefix
  tls: []

extraContainers:
  - name: nginx-exporter
    image: nginx/nginx-prometheus-exporter:latest
    args:
      - --nginx.scrape-uri=http://localhost/stub_status
    ports:
      - name: metrics
        containerPort: 9113
