apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-config
  namespace: monitoring
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    route:
      receiver: telegram
      group_by: ["alertname"]
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 4h

    receivers:
    - name: telegram
      telegram_configs:
      - bot_token_file: /etc/alertmanager/secrets/alertmanager-telegram/TELEGRAM_TOKEN
        chat_id: -5067101754  # 直接寫入數字，或使用環境變數
        send_resolved: true