name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/genos-devops-app:${{ github.sha }} .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/genos-devops-app:${{ github.sha }}

    - name: Setup kubectl
      uses: azure/setup-kubectl@v4

    - name: Setup Helm
      uses: azure/setup-helm@v4

    - name: Configure kubeconfig
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

    - name: Helm Upgrade
      run: |
        helm upgrade --install devops ./helm/nginx-chart \
          --namespace devops \
          --create-namespace \
          --set image.tag=${{ github.sha }}